{{!-- {{#each this}}
  <div class='country-info--flag-title'>
    <img
      class='flag-title--flag-img'
      src={{flags.svg}}
      width='60px'
      alt={{name.official}}
    />
    <h1>{{name.official}}</h1>
  </div>
  <ul class='country-info--list'>
    <li class='country-info--item'><span>Capital:</span> {{capital}}</li>
    <li class='country-info--item'><span>Population:</span> {{population}}</li>
    <li class='country-info--item'><span>Languages:</span> {{languages}}</li>
  </ul>
{{/each}} --}}

{{#each this}}
  <div class='photo-card'>
    <img src={{webformatURL}} alt={{largeImageURL}} loading='lazy' />
    <div class='info'>
      <p class='info-item'>
        <b>Likes: {{likes}}</b>
      </p>
      <p class='info-item'>
        <b>Views: {{views}}</b>
      </p>
      <p class='info-item'>
        <b>Comments: {{comments}}</b>
      </p>
      <p class='info-item'>
        <b>Downloads: {{downloads}}</b>
      </p>
    </div>
  </div>
{{/each}}